/* ==================================================
   VARIABLES
================================================== */
:root {
  --blue-deep: #070a14;
  --blue-night: #1b2340;
  --blue-magic: #9bbcff;
}

/* ==================================================
   BODY (normal)
================================================== */
body {
  margin: 0;
  min-height: 100vh;
  background: #ffffff;
}

/* ==================================================
   ROOT REACT
================================================== */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
